<li style = "height: 50px">
	<p style="font-weight: bold;" >
	Name: {{name}},
	Rooms: {{rooms}},
	Check-In: {{checkin}},
	Check-Out: {{checkout}}
	{{#if status}}
	<button class="change-status btn btn-small" data-id="{{this.id}}" data-newStatus="{{this.status}}" style= "height: 35px"> Check In</button>{{/if}}
</p>
</li>
